<footer class="footer">
  <div class="container">
      <div class="contacts">
        <div class="headline headline--noline headline--dark"></div>
        <ul class="soc-list">
          <li class="soc-items">
            <a href="#" class="soc-link twit"></a>
            <p>Twitter</p>
          </li>
          <li class="soc-items">
            <a href="#" class="soc-link telegram"></a>
            <p>Telegram</p>
          </li>
          <li class="soc-items">
            <a href="#" class="soc-link fb"></a>
            <p>Facebook</p>
          </li>
          <li class="soc-items">
            <a href="#" class="soc-link github"></a>
            <p>Github</p>
          </li>
          <li class="soc-items">
            <a href="#" class="soc-link youtube"></a>
            <p>Youtube</p>
          </li>
        </ul>

        <a href="index.html" class="natif-link">natif.io</a>
      </div>

  </div>
</footer>




<div class="modal" data-open='modal-1'>
  <div class="modal-dialog modal-dialog--member">
    <div class="modal-content modal-content--member">
      <button class="modal-close js-modal-close"></button>
      <div class="modal-header modal-header--member">
        <i class="members-ava">
          <img src="./img/members-01.png" alt="pic" width="75" height="75">
        </i>
        <div class="members-layout">
          <div class="members-info">
            <div class="members-name">Басов Лев</div>
            <p>Специалист в области интеллектуальной деятельности</p>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p> 10 лет руководил Роспатентом, возглавлял Департамент инновационного развития Министерства промышленности, науки и технологий Российской Федерации. До прихода на государственную службу возглавлял НП "Инновационное агентство". Основной задачей Агентства была коммерциализация результатов интеллектуальной деятельности. Борис Симонов известен в России и за рубежом как один из ведущих профессионалов в сфере оценки новых технологий и структурирования сделок с интеллектуальной собственностью, имеющий широкий круг деловых связей среди предпринимателей, руководителей государственных учреждений, ученых и экспертов.</p>
        <p>Уникальный опыт Бориса Симонова включает создание и консультирование стартапов, вывод на рынок инновационных решений, а также работу на госслужбе.</p>
        <p>Полученные навыки - залог правильного выбора стратегии развития предприятия, управления его интеллектуальной собственностью и возможности наиболее эффективно использовать накопленный интеллектуальный потенциал.</p>
      </div>
    </div>
  </div>
</div>