<footer class="footer">
  <div class="container">
    <div class="contacts">
      <div class="headline headline--noline headline--dark">Наши контакты</div>
      <ul class="soc-list">
        <li class="soc-items">
          <a href="#" class="soc-link twit"></a>
          <p>Twitter</p>
        </li>
        <li class="soc-items">
          <a href="tg://resolve?domain=NikName" target="_blank" class="soc-link telegram"></a>
          <p>Telegram</p>
        </li>
        <li class="soc-items">
          <a href="#" class="soc-link fb"></a>
          <p>Facebook</p>
        </li>
        <li class="soc-items">
          <a href="#" class="soc-link github"></a>
          <p>Github</p>
        </li>
        <li class="soc-items">
          <a href="#" class="soc-link youtube"></a>
          <p>Youtube</p>
        </li>
      </ul>
      <a href="index.html" class="natif-link">natif.io</a>
    </div>
    
    <a href="#" download class="download-link">
      <span>Скачать White Paper</span>
    </a>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-copy">
        <p>© 2017 NATIF. All Rights Reserved.</p>
        <small>The value of your investments can fluctuate. Past performance is no guarantee of future results. Investments carry inherent risks and the value of units may go down as well as up. This document is prepared by NATIF for information purposes only. Neither NATIF, nor the Directors of the company accept any responsibility whatsoever for the accuracy or completeness of the information contained in this document. It should not be copied or distributed without written consent of NATIF. This document does not constitute a prospectus, an offer or an invitation to subscribe any securities, or a recommendation in relation to any securities.</small>
      </div>
      <div class="footer-links">
        <a href="#" class="footer-suports">Legal terms</a>
        <a href="#" class="footer-suports">support@natif.io </a>
      </div>
    </div>

  </div>
</footer>


<!-- Modal blocks -->
<div class="modal" data-open='modal-1'>
  <div class="modal-dialog modal-dialog--member">
    <div class="modal-content modal-content--member">
      <button class="modal-close js-modal-close"></button>
      <div class="modal-header modal-header--member">
        <i class="members-ava">
          <img src="./img/members-01.png" alt="pic" width="75" height="75">
        </i>
        <div class="members-layout">
          <div class="members-info">
            <div class="members-name">Басов Лев</div>
            <p>Специалист в области интеллектуальной деятельности</p>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p> 10 лет руководил Роспатентом, возглавлял Департамент инновационного развития Министерства промышленности, науки и технологий Российской Федерации. До прихода на государственную службу возглавлял НП "Инновационное агентство". Основной задачей Агентства была коммерциализация результатов интеллектуальной деятельности. Борис Симонов известен в России и за рубежом как один из ведущих профессионалов в сфере оценки новых технологий и структурирования сделок с интеллектуальной собственностью, имеющий широкий круг деловых связей среди предпринимателей, руководителей государственных учреждений, ученых и экспертов.</p>
        <p>Уникальный опыт Бориса Симонова включает создание и консультирование стартапов, вывод на рынок инновационных решений, а также работу на госслужбе.</p>
        <p>Полученные навыки - залог правильного выбора стратегии развития предприятия, управления его интеллектуальной собственностью и возможности наиболее эффективно использовать накопленный интеллектуальный потенциал.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" data-open='modal-2'>
  <div class="modal-dialog modal-dialog--registr">
    <div class="modal-content modal-content--registr">
      <button class="modal-close modal-close--registr js-modal-close"></button>
      <div class="modal-body">
        <form action="#" class="form form--registr">
          <h2 class="headline headline--noline">Регистрация</h2>
          <div class="form-intro">
            <p>Если у вас уже есть аккаунт <br> <a href="#">пожалуйста, войдите</a></p>
          </div>

          <div class="form-holder form-holder--registr">
            <div class="form-row form-row--registr">
              <input type="text" class="form-control form-control--registr js-form-registr">
              <span>ФИО</span>
            </div>
            <div class="form-row form-row--registr">
              <input type="email" class="form-control form-control--registr js-form-registr">
              <span>Почта</span>
            </div>
            <div class="form-row form-row--registr">
              <input type="password" class="form-control form-control--registr js-form-registr">
              <span>Пароль</span>
            </div>
          </div>
          <a href="#" class="link-help">Как зерегистрировать ETH кошелек?</a>

          <div class="checkbox-section">
            <label class="checkbox">
              <input type="checkbox" class="visually-hidden">
              <span class="checkmark">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13 13L7 7L13 1" stroke="#00e3f1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
              <p> Я соглашаюсь со всеми <a href="#">Условиями и положениями</a></p>
            </label>
          </div>

          <button class="form-btn form-btn--registr">Создать аккаунт</button>
        </form>
      </div>
    </div>
  </div>
</div>