<header class="header">
	<div class="container header__container">

		<a href="index.html" class="logo wow fadeInUp" data-wow-delay=".45s">
      <img src="./img/logo.svg" alt="logo" width="159" height="33">  
    </a>

    <div class="header-wrap">
      <nav class="nav-menu">
        <ul>
          <li><a href="#about-project" class="wow fadeInUp" data-wow-delay=".1s" data-hover="О проекте">О проекте</a></li>
          <li><a href="#priority" class="wow fadeInUp" data-wow-delay=".15s" data-hover="Направления">Направления</a></li>
          <li><a href="#intell-section" class="wow fadeInUp" data-wow-delay=".2s" data-hover="Собственность">Собственность</a></li>
          <li><a href="#map-project" class="wow fadeInUp" data-wow-delay=".25s" data-hover="Стратегия">Стратегия</a></li>
          <li><a href="#details-ico" class="wow fadeInUp" data-wow-delay=".3s" data-hover="Детали ICO">Детали ICO</a></li>
          <li><a href="#team" class="wow fadeInUp" data-wow-delay=".35s" data-hover="Команда">Команда</a></li>
          <li><a href="#contacts" class="wow fadeInUp" data-wow-delay=".4s" data-hover="Контакты">Контакты</a></li>
        </ul>
      </nav>

      <div class="header-widget wow fadeInUp" data-wow-delay=".45s">
        <div class="langs">
          <div class="langs-current">Ru</div>
          <ul class="langs-list">
            <li class="langs-items">
              <a href="#" class="langs-link">Eng</a>
            </li>
            <li class="langs-items">
              <a href="#" class="langs-link">Ru</a>
            </li>
          </ul>
        </div>

        <a href="#" class="private js-modal-open" data-target='modal-2'>
          <span>Личный кабинет</span>
        </a>
      </div>
    </div>

	</div>
</header>