/* styles */
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
}

.header,
.footer {
	flex: 0 0 auto;
}

.main-page {
	flex: 1 0 auto;
	overflow: hidden;
  padding-top: 105px;
}

.container {
  max-width: 1160px;
  width: 100%;
  padding: 0 10px;
	color: $txt;
	margin: 0 auto;
}

// Btn up  Styles
.back-to-top {
	@include transition;
	@include hide-elem;
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 777;
	cursor: pointer;
	height: 34px;
	width: 34px;
	> svg {
		width: 100%;
		height: 100%;
		transform: rotate(-90deg);
	}
	&.show {
		@include show-elem;
	}
}

.headline {
  font-size: 35px;
  line-height: 40px;
  font-weight: 300;
  color: $white;
  position: relative;
  text-align: center;
  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 150px;
    background-color: $main;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &--dark {
    color: $black;
  }
  &--md {
    font-size: 25px;
    line-height: 38px;
  }
  &--left {
    text-align: left;
    &:after {
      left: 0;
      transform: translate(0, 0);
    }
  }
  &--noline {
    &:after {
      display: none;
    }
  }
}

// Form styles 
.form {
  &--registr {
    text-align: center;
    .headline {
      margin: 0 0 18px;
    }
  }
}

.form-intro {
  color: $txt;
  text-align: center;
  margin-bottom: 48px;
  p {
    margin: 0;
    a {
      color: $main;
      display: inline-block;
      @include hover () {
        text-decoration: none;
      }
    }
  }
}

.form-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  &--registr {
    flex-direction: column;
  }
}

.form-row {
  margin-right: 20px;
  max-width: 490px;
  width: 100%;
  position: relative;
  &--registr {
    max-width: 280px;
    margin: 0 0 14px;
    position: relative;
    overflow: hidden;
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $main;
      left: -100%;
      bottom: 0;
      @include transition;
    }
    &:last-child {
      margin: 0 0 18px;
    }
    span {
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      color: #919597;
      position: absolute;
      left: 0;
      bottom: 11px;
      @include transition;
      @include show-elem;
    }
    &.active {
      &:after {
        left: 0;
      }
      span {
        @include hide-elem;
      }
    }
  }
}

.form-control{
  font-family: "Ubuntu", OpenSans, sans-serif;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  padding: 14px 20px;
  color: #7f8c8d;
  background-color: #f3f3f3;
  border: none;
  outline: none;
  resize: none;
  border: 1px solid transparent;
  border-radius: 50px;
  margin: 0;
  transition: all .2s;
  text-align: left;
  &:focus {
    border: 1px solid $main;
  }
  &--registr {
    background: transparent;
    border: none;
    border-bottom: 2px solid #a2a6a8;
    border-radius: 0;
    padding: 10px 8px 10px 0;
    height: 46px;
    font-size: 18px;
    line-height: 25px;
    &:focus {
      border: none;
      border-bottom: 2px solid transparent;
      & + span {
        color: $main;
      }
    }
  }
}
*::-webkit-input-placeholder {
  opacity: 1;
  color: #7f8c8d; 
}
*:-moz-placeholder {
  opacity: 1;
  color: #7f8c8d; 
}
*::-moz-placeholder {
  opacity: 1;
  color: #7f8c8d; 
}
*:-ms-input-placeholder {
  opacity: 1;
  color: #7f8c8d; 
}

.form-btn {
  max-width: 200px;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  background-color: $main;
  padding: 14px;
  border-radius: 50px;
  outline: none;
  border: 2px solid $main;
  @include transition;
  @include hover () {
    background-color: transparent;
    color: $main;
  }
  &--registr {
    max-width: 305px;
    font-size: 18px;
    line-height: 21px;
    color: $black;
    padding: 12px;
    font-weight: 300;
  }
}

.link-help {
  font-size: 10px;
  line-height: 16px;
  color: $txt;
  display: inline-block;
  margin-bottom: 20px;
  @include transition;
  @include hover () {
    text-decoration: none;
    color: $main;
  }
}

.checkbox-section {
  text-align: center;
  margin-bottom: 36px;
  .checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    font-size: 10px;
    line-height: 16px;
    color: $txt;
    input[type=checkbox],
    input[type=radio] {
      &:checked ~ .checkmark {
        svg {
          @include show-elem;
        }
      }
    }
    p {
      margin: 0;
      a {
        color: $txt;
        @include hover () {
          text-decoration: none;
          color: $main;
        }
      }
    }
  }
  .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 1px solid $main;
    background-color: transparent;
    margin-right: 22px;
    svg {
      display: flex;
      transform: rotate(-90deg) translate(-3px, 0);
      @include hide-elem;
      @include transition;
    }
  }
}

//Hide elem 
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

