.hero {
  background-position: center bottom;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #000;
  background-attachment: fixed;
  padding: 56px 0 245px;
  @include media(1200px) {
    // padding: 56px 0 200px;
  }
}


.intro-project {
  background-color: rgba(23, 23, 33, 0.8);
  font-size: 16px;
  line-height: 32px;
  color: $gray;
  text-align: left;
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  padding: 74px 97px 70px;
  @include media(1200px) {
    padding: 54px 75px;
  }
  @include media(768px) {
    padding: 50px 22px;
  }
  .headline {
    margin: 0 0 72px;
    @include media(768px) {
      margin: 0 0 60px;
    }
  }
  h3 {
    font-size: 20px;
    line-height: 25px;
    color: $white;
    text-align: left;
    @include media(768px) {
      font-size: 18px;
      line-height: 24px;
    }
    @include media(479px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  ul {
    margin-bottom: 42px;
    li {
      position: relative;
      padding-left: 14px;
      text-align: left;
      &:after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $gray;
        position: absolute;
        top: 16px;
        left: 0;
      }
    }
  }
}

.explanation {
  position: relative;
  padding-bottom: 100px;
  background-color: $white;
  @include media(1024px) {
    padding-bottom: 74px;
  }
  @include media(768px) {
    padding-bottom: 44px;
  }
}

.expl-info {
  background-color: $cinder;
  box-shadow: 0px 20px 50px rgba(0, 49, 81, 0.2);
  text-align: center;
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  padding: 34px 142px;
  position: absolute;
  transform: translate(0, -50%);
  top: 0;
  left: 0;
  right: 0;
  @include media(1024px) {
    max-width: 98%;
    margin: 0 auto;
    padding: 28px 54px;
  }
  @include media(768px) {
    padding: 30px 10px;
  }
  .headline {
    @include media(768px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.expl-block {
  padding-top: 208px;
  color: #7f8c8d;
  .headline {
    margin-bottom: 80px;
  }
}

.expl-holder {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.expl-list {
  margin: 0 auto;
}

.expl-items {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;
  @include media(1024px) {
    flex-direction: column;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
  }
  @include media(768px) {
    max-width: 100%;
    text-align: left;
  }
  &:last-child {
    padding-bottom: 0;
    .expl-items__icon {
      &:after {
        display: none;
      }
    }
  }
  &__icon {
    display: flex;
    flex: 0 0 70px;
    height: 70px;
    width: 70px;
    margin-right: 75px;
    position: relative;
    @include media(1024px) {
      margin: 0 0 20px;
    }
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 200px;
      background-color: $main;
      left: 35px;
      @include media(1024px) {
        display: none;
      }
    }
    &:before {
      bottom: 70px;
    }
    &:after {
      top: 70px;
    } 
  }
  p {
    max-width: 747px;
    width: 100%;
    &:last-child {
      margin: 0;
    }
  }
}

.priority {
  background-color: $steel;
  padding: 80px 0 100px;
  position: relative;
}

.direct-row {
  background-color: $steel;
  color: #7f8c8d;
  padding: 94px 0;
  @include media(1024px) {
    padding: 64px 0;
  }
  @include media(768px) {
    padding: 44px 0;
  }
  &:nth-child(odd) {
    background-color: $cinder;
    .direct-row__container {
      flex-direction: row-reverse;
      @include media(1024px) {
        flex-direction: column-reverse;
      }
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @include media(1024px) {
      flex-direction: column-reverse;
    }
  }
  &--start {
    .direct-row__container {
      justify-content: flex-start;
    }
    .direct-descr {
      margin: 0 70px 0 0;
      @include media(1024px) {
        margin: 0 auto;
      }
    }
  }
}

.direct-descr {
  max-width: 576px;
  width: 100%;
  color: #7f8c8d;
  margin: 0 70px;
  @include media(1024px) {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }
  strong {
    font-size: 20px;
    line-height: 25px;
    color: $white;
    opacity: 0.8;
    @include media(1024px) {
      margin-bottom: 16px;
    }
  }
}

.direct-ill {
  margin: 0 70px;
  @include media(1024px) {
    margin: 0 auto 45px;
  }
}

.fund-section {
  position: relative;
  padding-top: 210px;
  background-color: $white;
  .container {
    @include media(768px) {
      padding: 0;
    }
  }
}

.foundation {
  background-color: #f3f3f3;
  padding: 50px;
  max-width: 1130px;
  width: 100%;
  @include media (768px) {
    padding: 50px 10px;
  }
  .headline {
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  &__items {
    background: $white;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 22px 20px;
    max-width: 363px;
    width: 100%;
    flex: 1 1 calc(50% - 20px);
    margin: 0 10px 20px;
    min-height: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition;
    @include hover () {
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.5)
    }
    @include media (768px) {
      flex: 1 1 auto;
      max-width: 100%;
      margin: 0 auto 20px;
    }
  }
}

.about-fund {
  @include media(1024px) {
    padding: 0 10px;
  }
  &__head {
    max-width: 900px;
    width: 100%;
    margin: 0 auto 80px;
    text-align: center;
    @include media(1024px) {
      margin: 0 auto 64px;
    }
    @include media(768px) {
      margin: 0 auto 44px;
    }
    .headline {
      margin-bottom: 50px;
    }
  }
}

.about-figure {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 105px;
  @include media(1024px) {
    margin-bottom: 74px;
  }
  @include media(768px) {
    margin-bottom: 54px;
  }
}

.about-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  @include media(1024px) {
    flex-direction: column;
  }
}

.about-invest {
  max-width: 260px;
  width: 100%;
  border-radius: 50px;
  background-color: $main;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 23px 16px;
  @include media(1024px) {
    margin-bottom: 55px;
    &.fadeInLeft {
      display: none;
    }
    &.bounceInDown {
      display: block;
    }
  }
}

.about-direct {
  margin-right: 6px;
  @include media (1024px) {
    margin: 0 0 55px;
  }
  svg {
    @include media(1024px) {
      transform: rotate(90deg);
    }
  }
}

.about-natif {
  height: 268px;
  width: 268px;
  flex: 0 0 268px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #003A3D 0%, #1D1D29 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(1024px) {
    height: 224px;
    width: 224px;
    flex: 1 1 224px;
  }
}

.about-svg-group {
  @include media(1024px) {
    margin: 55px 0;
  }
}

.about-st-group {
  position: relative;
}

.svg-gr-1,
.svg-gr-2,
.svg-gr-3 {
  display: inline-block;
  @include media(1024px) {
    transform: rotate(90deg);
  }
}

.circle {
  background-color: #e9e9e9;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  &--a1 {
    height: 67px;
    width: 67px;
    top: -27px;
    left: -20px;
  }
  &--a2 {
    height: 19px;
    width: 19px;
    top: -18px;
    right: -18px;
  }
  &--a3 {
    height: 67px;
    width: 67px;
    top: 76px;
    right: -10px;
    z-index: -1;

  }
  &--a4 {
    height: 37px;
    width: 37px;
    top: 130px;
    left: 10px;
  }
  &--a5 {
    height: 19px;
    width: 19px;
    top: 100px;
    left: -16px;
  }
}

.about-startup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 134px;
  flex: 0 0 134px;
  border-radius: 50%;
  background-color: $main;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: $white;
  text-align: center;
  p {
    margin: 0;
    span {
      font-size: 28px;
      line-height: 34px;
    }
  }
}

.intell-section {
  padding: 100px 0;
  text-align: center;
  background-color: $white;
  @include media (1024px) {
    padding: 74px 0;
  }
  @include media(768px) {
    padding: 44px 0;
  }
  .headline {
    margin-bottom: 70px;
  }
}

.intell-title {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 56px;
}

.intell-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 -58px;
  @include media(768px) {
    margin: 0 auto;
  }
}

.intell-items {
  text-align: left;
  color: #7f8c8d;
  max-width: 470px;
  flex: 1 1 calc(50% - 116px);
  width: 100%;
  margin: 0 58px 42px;
  @include media(768px) {
    flex: 1 1 auto;
    max-width: 100%;
    margin: 0 auto 32px;
  }
}

.intell-number {
  height: 31px;
  width: 31px;
  background-color: $steel;
  border-radius: 5px;
  color: $main;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.rules-list {}

.rules-items {
  position: relative;
  padding-left: 16px;
  margin-bottom: 8px;
  &:after {
    content: '';
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 5px;
    background-color: $gray;
    position: absolute;
    top: 10px;
    left: 0;
  }
}

.project-invest {
  background-color: $cinder;
  padding: 100px 0 90px;
  @include media (1024px) {
    padding: 74px 0;
  }
  @include media(768px) {
    padding: 44px 0;
  }
  .headline {
    margin: 0 0 80px;
  }
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 -10px 80px;
  @include media (768px) {
    margin: 0 -5px 60px;
  }
  &__items {
    background-color: $steel;
    border-radius: 5px;
    padding: 10px 30px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7f8c8d;
    max-width: 267px;
    width: 100%;
    flex: 1 1 calc(25% - 20px);
    flex: 1 1 auto;
    height: 77px;
    margin: 0 10px 20px;
    @include media (768px) {
      margin: 0 5px 10px;
    }
    p {
      margin: 0;
    }
  }
  &__icon {
    display: inline-block;
    flex: 0 0 auto;
  }
}

.research {
  .headline {
    max-width: 768px;
    width: 100%;
    margin: 0 auto 50px;
  }
}

.research-list {
  max-width: 745px;
  width: 100%;
  margin: 0 auto;
}

.research-items {
  margin-bottom: 40px;
  &:last-child {
    margin: 0;
  }
}

.research-descr {
  color: #7f8c8d;
  text-align: left;
  position: relative;
  padding-left: 26px;
  &:after {
    content: '';
    display: block;
    height: 9px;
    width: 9px;
    position: absolute;
    top: 9px;
    left: 0;
    background-color: $main;
    box-shadow: 0 0 10px rgba(0, 227, 241, 0.501387);
  }
  p {
    margin: 0 0 10px;
  }
}

.research-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: $main;
  font-size: 14px;
  line-height: 25px;
  text-align: left;
  position: relative;
  padding-left: 45px;
  @include transition;
  @include hover () {
    text-decoration: underline;
    &:after {
      transform: translate(10px, 0);
    }
  }
  &:after {
    content: '';
    display: block;
    background-image: url(../img/research-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 25px;
    height: 15px;
    position: absolute;
    left: 0;
    transform: translate(0, 0);
    @include transition;
  }
}

.subscribe {
  padding: 100px 0;
  background-color: $white;
  @include media (1024px) {
    padding: 74px 0;
  }
  @include media(768px) {
    padding: 44px 0;
  }
  &__container {
    .headline {
      margin-bottom: 80px;
      @include media (1024px) {
        margin-bottom: 62px;
      }
    }
  }
}

.map-project {
  background-color: $steel;
  background-attachment: fixed;
  padding: 100px 0 0;
  @include media (1024px) {
    padding: 74px 0 0;
  }
  @include media(768px) {
    padding: 44px 0 0;
  }
  .headline {
    margin-bottom: 100px;
  }
}

.map-list {
  background-repeat: no-repeat repeat;
  background-position: center 10px;
  padding-bottom: 130px;
  @include media(479px) {
    background-position: left top;
    margin-left: 15px;
    padding-bottom: 74px;
  }
}

.map-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 110px;
  flex-direction: row;
  @include media(479px) {
    flex-direction: column;
    position: relative;
    margin-bottom: 68px;
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    @include media(479px) {
      flex-direction: column;
    }
    .map-title {
      text-align: right;
      @include media(479px) {
        text-align: left;
      }
    }
    .map-date {
      text-align: left;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.map-indicator {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  flex: 0 0 12px;
  border-radius: 50%;
  border: 1px solid $main;
  background-color: $steel;
  box-shadow: 0 0 0;
  margin-top: 6px;
  @include transition;
  @include media(479px) {
    position: absolute;
    margin: 0 0 0 -5px;
  }
  &.active {
    box-shadow: 0px 0px 10px rgba(0, 227, 241, 0.501387);
    background-color: $main;
  }
}

.map-date {
  font-size: 16px;
  line-height: 23px;
  margin: 0 26px;
  max-width: 238px;
  width: 100%;
  text-align: right;
  @include media(479px) {
    text-align: left;
    max-width: 100%;
  }
  small {
    display: block;
    position: relative;
    &:first-child,
    &:last-child {
      @include media(479px) {
        &:after,
        &:before {
          display: none;
        }
      }
    }
    @include media(479px) {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
    }
    &:after {
      content: '';
      display: none;
      height: 14px;
      width: 1px;
      background-color: $txt;
      position: absolute;
      right: -4px;
      top: 50%;
      transform: translate(0, -50%);
      @include media(479px) {
        display: block;
      }
    }
    &:before {
      content: '';
      display: none;
      height: 14px;
      width: 1px;
      background-color: $txt;
      position: absolute;
      left: -4px;
      top: 50%;
      transform: translate(0, -50%);
      @include media(479px) {
        display: block;
      }
    }
    &:empty {
      display: none;
    }
  }
}

.map-title {
  font-size: 20px;
  line-height: 23px;
  color: $white;
  margin: 0 26px;
  max-width: 238px;
  width: 100%;
  text-align: left;
  @include media(479px) {
    max-width: 100%;
  }
  p {
    margin: 0;
  }
}

.details {
  padding: 100px 0 274px;
  position: relative;
  background-color: $white;
  .headline {
    margin-bottom: 70px;
  }
}

.details-title {
  font-size: 20px;
  line-height: 25px;
  color: $black;
  margin-bottom: 20px;
}

.details-content {}

.details-struct {
  background: $white;
  box-shadow: 0 20px 50px rgba(0, 49, 81, 0.2);
  border-radius: 5px;
  max-width: 1130px;
  width: 100%;
  padding: 58px 40px 58px 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  @include media(1200px) {
    padding: 38px 30px 38px 40px;
  }
  @include media(768px) {
    padding: 38px 10px;
  }
}

.details-diagram {
  width: 220px;
  height: 220px;
  flex: 0 0 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 114px;
  @include media(1200px) {
    margin-right: 54px;
  }
  @include media (1024px) {
    display: none;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fill {
  transition: 1s ease-in-out;
  &--lg {
    &.active {
      fill: #171721;
    }
  }
  &--md {
    &.active {
      fill: #0f5b66;
    }
  }
  &--sm {
    &.active {
      fill: #089fac;
    }
  }
  &--xs {
    &.active {
      fill: #00e3f1;
    }
  }
}



.details-layout {
  width: 100%;
  .details-title {
    margin-bottom: 40px;
  }
}

.chart {}

.chart-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
  @include media(768px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.chart-descr {
  max-width: 275px;
  width: 100%;
  flex: 0 0 275px;
  margin-right: 12px;
  @include media(768px) {
    max-width: 100%;
    flex: 1 1 auto;
    margin: 0 0 12px;
  }
}

.chart-layout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  &--id1 {
    .chart-percent {
      color: $main;
    }
    .chart-control {
      &.active {
        &:after {
          background-color: $main;
          width: 70%;
        }
      }
    }
  }
  &--id2 {
    .chart-percent {
      color: #089fac;
    }
    .chart-control {
      &.active {
        &:after {
          background-color: #089fac;
          width: 13%;
        }
      }
    }
  }
  &--id3 {
    .chart-percent {
      color: #0f5b66;
    }
    .chart-control {
      &.active {
        &:after {
          background-color: #0f5b66;
          width: 10%;
        }
      }
    }
  }
  &--id4 {
    .chart-percent {
      color: $cinder;
    }
    .chart-control {
      &.active {
        &:after {
          background-color: $cinder;
          width: 7%;
        }
      }
    }
  }
}

.chart-percent {
  display: inline-block;
  margin-right: 16px;
  font-weight: 500;
  color: $main;
  text-align: left;
  min-width: 42px;
}

.chart-control {
  max-width: 355px;
  width: 100%;
  flex: 0 0 355px;
  background: #f1f1f1;
  border-radius: 100px;
  height: 20px;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    display: block;
    width: 0%;
    height: 100%;
    border-radius: 50px;
    transition: width 0.7s ease-in-out;
  }
  @include media(1024px) {
    max-width: 100%;
    flex: 1 1 auto;
  }
}


.model {
  padding: 283px 0 100px;
  background-color: $cinder;
  .headline {
    margin-bottom: 86px;
  }
}

.model-wrap {
  @include media(992px) {
    background-image: url(../img/line-01.svg);
    background-repeat: no-repeat repeat;
    background-size: auto;
    background-position: 35px top;
  }
}

.model-logo {
  max-width: 250px;
  background: $main;
  box-shadow: 0 0px 20px rgba(0, 227, 241, 0.501387);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 14px;
  margin-bottom: 110px;
  position: relative;
  @include media(479px) {
    margin-bottom: 160px;
  }
}

.model-row {
  position: relative;
  &--id-1 {
    margin-bottom: 80px;
    @include media(992px) {
      margin-bottom: 30px;
    }
  }
  &--id-2 {
    margin-bottom: 150px;
    @include media(992px) {
      margin-bottom: 120px;
    }
    @include media(479px) {
      margin-bottom: 160px;
    }
    .model-rect {
      @include media(992px) {
        &:after {
          display: none;
        }
      }
    }
  }
  &--id-3 {
    margin-bottom: 80px;
    @include media(992px) {
      margin-bottom: 40px;
    }
  }
  &--id-4 {
    .model-layout--id-1 {
      @include media(992px) {
        margin-left: 0;
      }
    }
    .model-rect {
      @include media(992px) {
        &:after {
          width: 20px;
          height: 160px;
          left: 24px;
          top: 70px;
          background-color: $cinder;
        }
      }
      @include media(479px) {
        &:after {
          top: 69px;
          height: 180px;
        }
      }
    }
  }
  .line {
    position: absolute;
    top: -105px;
    left: 94px;
    @include media(992px) {
      left: 35px;
      display: none;
    }
    &--id-1 {
    }
    &--id-2 {
    }
    &--id-3 {
      top: -165px;
    }
  }
}

.model-inner {
  position: relative;
  display: flex;
  @include media(992px) {
    flex-direction: column;
  }
  &--center {
    align-items: center;
    @include media(992px) {
      align-items: flex-start;
    }
  }
}

.model-part {
  background-color: $steel;
  border-radius: 100px;
  max-width: 460px;
  width: 100%;
  font-size: 14px;
  line-height: 25px;
  color: $main;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -69px;
  left: 120px;
  @include media(992px) {
    top: -80px;
    left: 0;
  }
  @include media(479px) {
    font-size: 12px;
    line-height: 16px;
    padding: 12px 24px;
    top: -120px;
  }
  p {
    margin: 0;
  }
}

.model-rect {
  border: 1px solid $main;
  border-radius: 25px;
  font-size: 16px;
  line-height: 18px;
  height: 70px;
  color: $main;
  padding: 18px 20px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 30;
  background-color: $cinder;
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: $main;
    position: absolute;
    right: -30px;
    top: calc(50% - 1px);
    @include media(992px) {
      height: 30px;
      width: 1px;
      left: 65px;
      right: unset;
      top: 100%;
    }
  }
  p {
    margin: 0;
  }
  &--lg {
    max-width: 426px;
    width: 100%;
  }
  &--sm {
    max-width: 160px;
    flex: 0 0 160px;
    margin-right: 70px;
    width: 100%;
    @include media(992px) {
      flex: 1 1 auto;
    }
  }
  &--md {
    max-width: 290px;
    width: 100%;
    margin-right: 70px;
  }
  &--mr {
    margin-right: 40px;
  }
}

.model-dot {
  height: 18px;
  width: 18px;
  border: 1px solid $main;
  background-color: $cinder;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
  left: 85px;
  z-index: 30;
  @include media(992px) {
    left: 26px;
  }
  &:after {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: $main;
  }
}

.model-step {
  height: 31px;
  width: 31px;
  flex: 0 0 31px;
  background: $main;
  border-radius: 5px;
  font-size: 16px;
  line-height: 25px;
  margin-right: 10px;
  color: $steel;
  box-shadow: 0 0px 10px rgba(0, 227, 241, 0.501387);
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-token {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 22px;
  position: relative;
  @include media(992px) {
    flex-direction: column;
    margin-left: 64px;
    margin-top: 35px;
  }
  &--md {
    margin-top: 0;
    align-items: center;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -40px;
      bottom: 58px;
      width: 1px;
      height: 46px;
      background-color: $main;
      @include media(992px) {
        display: none;
      }
    }
  }
  p {
    color: $white;
    opacity: 0.8;
  }
  &__inner {
    margin-right: 50px;
    @include media(992px) {
      margin: 0 0 30px;
    }
    p {
      margin: 0;
    }
  }
}

.model-layout {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: -40px;
    top: 11px;
    width: 1px;
    height: 46px;
    background-color: $main;
    @include media(992px) {
      display: none;
    }
  }
  &__inner {
    margin-bottom: 22px;
    position: relative;
    @include media(992px) {
      margin-bottom: 8px;
    }
    &:after {
      content: '';
      display: block;
      width: 30px;
      height: 1px;
      background-color: $main;
      position: absolute;
      left: -40px;
      top: calc(50% - 1px);
      @include media(992px) {
        height: 26px;
        width: 1px;
        left: 0;
        top: -24px;
      }
      @include media(479px) {
        height: 30px;
        top: -30px;
      }
    }
    &:first-child {
      @include media(992px) {
        margin-left: 10px;
      }
    }
    &:nth-child(2) {
      @include media(992px) {
        margin-left: 5px;
        &:after {
          height: 80px;
          top: -80px;
        }
      }
    }
    &:last-child {
      margin: 0;
      &:after {
        @include media(992px) {
          height: 55px;
          top: -56px;
        }
      }
    }
    p {
      color: $white;
      opacity: 0.8;
      margin: 0;
      @include media(479px) {
        font-size: 14px;
        line-height: 18px;
      }
      span {
        color: $main;
      }
    }
    &--id-1 {
      margin-top: 46px;
    }
  }
  &--fork {
    @include media(992px) {
      margin-top: 33px;
      margin-left: 12px;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -40px;
      bottom: 13px;
      width: 1px;
      height: 46px;
      background-color: $main;
      @include media(992px) {
        display: none;
      }
    }
    .model-layout__inner {
      &:first-child {
        @include media(992px) {
          margin-bottom: 8px;
          &:after {
            height: 40px;
            top: -40px;
          }
        }
      }
      &:nth-child(3) {
        @include media(992px) {
          &:after {
            height: 135px;
            top: -135px;
          }
        }
      }
    }
  }
  &--id-1 {
    @include media(992px) {
      margin-top: 0;
    }
    &:after {
      top: 58px;
    }
    .model-layout__inner--id-1 {
      @include media(992px) {
        margin-top: 33px;
        margin-left: 20px;
      }
    }
    .model-layout__inner {
      @include media(992px) {
        &:nth-child(2) {
          margin-left: 14px;
        }
        &:nth-child(3) {
          margin-left: 8px;
        }
        &:last-child {
          margin-left: 2px;
          &:after {
            height: 160px;
            top: -160px;
          }
        }
      }
    }
  }
}

.stages {
  padding: 100px 0;
  background-color: $steel;
  @include media (1024px) {
    padding: 74px 0;
  }
  @include media(768px) {
    padding: 44px 0;
  }
  .container {
    margin-left: 200px;
    @include media(1200px) {
      margin: 0 auto;
    }
  }
}

.stages-holder {
  display: flex;
  align-items: flex-start;
  margin-bottom: 174px;
  @include media(768px) {
    flex-direction: column;
    margin-bottom: 146px;
  }
  &:last-child {
    margin-bottom: 0;
    .stages-descr {
      &:after,
      &:before {
        display: none;
      }
    }
  }
}

.stages-step {
  font-size: 20px;
  line-height: 25px;
  color: $main;
  margin-right: 70px;
  flex: 0 0 172px;
  @include media(768px) {
    flex: 1 1 auto;
    margin: 0 0 24px;
  }
}

.stages-descr {
  text-align: left;
  max-width: 640px;
  width: 100%;
  position: relative;
  &:after {
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    position: absolute;
    opacity: 0.8;
    bottom: -15px;
    left: 0;
    @include transition;
  }
  &:before {
    content: '';
    display: block;
    background-image: url(../img/line-dash.png);
    width: 2px;
    height: 131px;
    position: absolute;
    bottom: -136px;
    left: 5px;
  }
  &.active {
    opacity: 1;
    &:after {
      background-color: $main;
      box-shadow: 0 0 20px rgba(0, 227, 241, 0.501387);
    }
  }
}

.stages-head {
  font-size: 20px;
  line-height: 25px;
  color: $white;
  margin-bottom: 15px;
}

.info-section {
  background-image: url(../img/bg-map.png);
  background-color: $cinder;
  background-attachment: fixed;
  padding: 100px 0 60px;
  @include media (1024px) {
    padding: 74px 0;
  }
  @include media(768px) {
    padding: 44px 0;
  }
}

.info-list {
  margin-bottom: 48px;
  @include media(768px) {
    margin: 0 -10px 48px;
  }
}

.info-items {
  text-align: left;
  background-color: $steel;
  border-radius: 5px;
  width: 100%;
  padding: 40px 76px;
  margin-bottom: 10px;
  @include media (768px) {
    padding: 30px 10px;
  }
}

.info-head {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: $main;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.info-meta {
  font-weight: 500;
  color: $white;
}

.info-link {
  font-size: 16px;
  line-height: 24px;
  color: $main;
  @include hover () {
    text-decoration: none;
  }
}

.info-btn {
  border: 2px solid $main;
  border-radius: 50px;
  width: 100px;
  min-width: 220px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  color: $main;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  text-decoration: none;
  background-color: transparent;
  box-shadow: 0 0 0;
  @include transition;
  &.active {
    box-shadow: 0 0 25px rgba(0, 227, 241, 0.501387);
  }
  @include hover () {
    box-shadow: 0 0px 20px rgba(0, 227, 241, 0.501387);
  }
}

.team {
  padding: 100px 0 227px;
  background-color: $white;
  @include media (1024px) {
    padding: 74px 0 220px;
  }
  @include media(768px) {
    padding: 44px 0 220px;
  }
  @include media(479px) {
    padding: 44px 0 320px;
  }
  .headline {
    margin-bottom: 120px;
  }
}


.members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 -11px;
}

.members-items {
  max-width: 265px;
  width: 100%;
  flex: 1 1 auto;
  margin: 0 11px 88px;
  background: $white;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  @include transition;
  @include hover () {
    background-color: $main;
    .members-details {
      z-index: 30;
      @include show-elem;
    }
    .members-info {
      @include hide-elem;
    }
  }
  @include media (479px) {
    margin: 0 11px 60px;
  }
}

.members-inner {}

.members-holder {
  padding: 55px 20px 14px;
  position: relative;
  height: 155px;
  @include media(479px) {
    height: auto;
  }
}

.members-widget {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 20px;
  transform: translate(0, -50%);
}

.members-ava {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-right: 20px;
}

.members-link {
  display: inline-block;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: $steel;
  display: flex;
  align-items: center;
  justify-content: center;
}

.members-info {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  @include transition;
}

.members-name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color: $black;
  margin-bottom: 8px;
}

.members-details {
  font-size: 20px;
  line-height: 25px;
  color: $black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include transition;
  @include hide-elem;
  p {
    margin: 0;
  }
}



// Develop
.develop {
  background-color: #000;
  color: #fff;
  padding: 6px;
  position: relative;
  text-align: center;
  font-size: 14px;
  a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: inline-block;
    &:hover {
      &:after {
        transform: scale(1);
      }
    }
    &:after {
      content: '';
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #fff;
      @include transition;
      transform: scale(0);
    }
  }
}
